body{
background-color: #D9DDDC;
}


#navbar {
background-color: #88807B;
padding: 1px;

left: 0;
width: 100%;
}

#navbar ul {
padding: 5px;
list-style-type: none;
text-align: center;
background-color: #88807B;

border: 5px;
margin: 10px;

}

#navbar ul li {
display: inline;
}

#navbar ul li a {
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: #88807B;
background-color: #ffffff;
}

#navbar ul li a:hover {
color: #ffffff;
background-color: #88807B;
}





.header{
height: 450px;
width: 100%;
color: Black;
}

.header h1 {
margin-top: 60px;
text-align: left;
Font-size: 80px;
font-family: Bold;

}

.background_image{
position: absolute;
top: 0;
left: 9px;
width: 1365px;

height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
opacity: 0.7;
}

.sidebar
{
margin-top: 20px;
float: right;
width: 270px;
height: 400px;
background: #88807B;
border: solid 2px #000;
border-botom-left-radius: 5em;
}

.sidebar ul {
padding: 5px;
margin-right: 10px;
list-style-type: none;
text-align: left;
background-color: #88807B;
}

.sidebar ul li {
display: inline;
}

.sidebar ul li a {
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: #ffffff;
background-color: #88807B;
}

.sidebar ul li a:hover {
color: #88807B;
background-color: #ffffff;
}

.main
{
float: left;
width: 73%;
height: 500px;
margin-top: 20px;
margin-left: 20px;
background-color: #D9DDDC;

solid;	font-family: Arial;
font-size: 16px;
overflow: auto;
border-bottom-right-radius: 1em;
}

#footer {
background-color: #88807B;
margin-top: 350px;
margin-bottom: 5px;
margin-right: 10px;
margin-left: 10px;
height: 70px;
clear: both;
border-radius: 5px;
color: black;
text-align: center;
padding: 15px;
font-size: 90%;
}

#footer ul {
padding: 5px;
list-style-type: none;
text-align: center;
margin: 10px;
border-radius: 5px;
color: black;
}

#footer ul li {
display: inline;
}

#footer ul li a {
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: black;
background-color: #88807B;
}

#footer ul li a:hover {
color: #88807B;
background-color: black;
}

h1{
color: rgb(0,0,1);
opacity: 0.9;
}

